<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
<script type="text/javascript">
	var demo = angular.module('demo', []);
	demo.filter('abbr', [function(){
		return function(data, length, end){
			length = length || 20;
			end = end || '...';
			
			if(data.length <= length || data.length-end.length <= length){
				return data;
			}else{
				// 캐스팅 이유는 혹 숫자가 들어왔을 경우도 가능하게
				// 하기 위함
				return String(data).substring(0, length-end.length) + end;
			}
		}
	}]);
	
	demo.filter('percent', ['$filter', function($filter){
		return function(data, size){
			return $filter('number')(data*100, size) + '%';
		}
	}]);
	
	demo.filter('reg', [function(){
		return function(data, field, reg){
			var pattern = new RegExp(reg);
			var out = [];
			
			for(var i=0; i<data.length; i++){
				if(pattern.test(data[i][field])){
					out.push(data[i]);
				}
			}
			return out;
		}
	}]);

	var app = angular.module('app', ['demo']);
	
	app.controller('main', ['$scope', function($scope){
		
		$scope.txt = "동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세.";
		
		$scope.friends = [
	        {name:'John', phone:'010-555-1276', age:10},
	        {name:'Mary', phone:'02-800-BIG-MARY', age:19},
	        {name:'Mike', phone:'02-555-4321', age:21},
	        {name:'Adam', phone:'555-5678', age:35},
	        {name:'Julie', phone:'555-8765', age:29}                 
		];
	}])
</script>
</head>
<body ng-controller="main">

	<div>abbr Filter: {{txt | abbr }}</div>
	<div>abbr Filter: {{txt | abbr:10 }}</div>
	<div>abbr Filter: {{txt | abbr:10:'---' }}</div>
	<div>abbr Filter: {{1234567876543213 | abbr }}</div>
	
	<div>percent Filter: {{0.123548 | percent: 2}}</div>

	<hr>
	
	<div ng-repeat="friend in friends | reg:'name':'M' ">{{friend.name}}</div>
	<br>
	<div ng-repeat="friend in friends | reg:'phone':'555' ">{{friend.name}} - {{friend.phone}}</div>
	<br>
	
	<input type="text" ng-model="reg"><br>
	<div ng-repeat="friend in friends | reg :'name':reg ">{{friend.name}}</div>

</body>
</html>